<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body{
            margin: 0;
            background: #333;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .title{
            position: relative;
            text-align: center;
            margin-top: 20%;
            color: snow;
        }
        .menu_container{
            position: absolute;
            overflow: hidden;
            text-align: center;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            margin-top: 30%;
        }
        .menu_container ul{
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            margin-right: 10px;

            justify-content: space-around;
        }
        .menu_container ul li{
            display: inline;
        }
        .menu_container ul li a{
            text-decoration: none;
            color: white;
            padding-left: 40px;
            padding-right: 20px;
            display: block;
            transition: .2s ease-in;
        }
        .menu_container ul li a:hover{
            color: palegoldenrod;
        }
    </style>
    <title>Document</title>
</head>
<body>
    <h1 class="title">WELCOME TOO BOOKER</h1>
    <div class="menu_container">
        <ul>
            <li><a href="/add">ADD BOOK</a></li>
            <li><a href="/catalog">CATALOG</a></li>
            <li><a href="/edit">EDIT</a></li>
        </ul>
    </div>

</body>
</html>